<p-card>
  <div class="ui-g">
    <div class="ui-g-4">
      <img src="./../assets/image/logo.png">
      <p>a smart fake api rest generator</p>
    </div>
    <div class="ui-g-5"></div>
    <div class="ui-g-3">
      <h1> {{ projectName }}</h1>
    </div>
  </div>
</p-card>
<div class="ui-g">
  <div class="ui-g-6" *ngIf="selectedNode">
    <p-panel header="Organization chart">
      <p-organizationChart [value]="organizationData" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
        styleClass="company">
        <ng-template let-node pTemplate="person">
          <div class="node-header ui-corner-top">{{node.label}}</div>
          <div class="node-content">
            <div>{{node.name}}</div>
          </div>
        </ng-template>
        <ng-template let-node pTemplate="department">
          {{node.label}}
        </ng-template>
      </p-organizationChart>
    </p-panel>
  </div>
  <div class="ui-g-12" *ngIf="isUnselected(selectedNode)">
      <p-panel header="Organization chart">
        <p-organizationChart [value]="organizationData" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
          styleClass="company">
          <ng-template let-node pTemplate="person">
            <div class="node-header ui-corner-top">{{node.label}}</div>
            <div class="node-content">
              <div>{{node.name}}</div>
            </div>
          </ng-template>
          <ng-template let-node pTemplate="department">
            {{node.label}}
          </ng-template>
        </p-organizationChart>
      </p-panel>
    </div>
  <div class="ui-g-6" *ngIf="selectedNode">
    <p-panel header="{{detail}}">
      <div class="ui-g" >
          <div class="ui-g-12"> {{selectedNode.name}}</div>
        <ng-container *ngIf="selectedNode.data.array !== undefined">
          <div class="ui-g-6">
            <p-inputSwitch onLabel="Array" offLabel="Single" [(ngModel)]="selectedNode.data.array"></p-inputSwitch>
          </div>
          <ng-container *ngIf="selectedNode.data.array">
            <div class="ui-g-6">
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30"[(ngModel)]="selectedNode.data.array_length" pInputText>
                <label for="float-input">array length</label>
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="selectedNode.data.array">
            <div class="ui-g-6"></div>
          </ng-container>
        </ng-container>
        <div class="ui-g-12">
          field2
        </div>
        <div class="ui-g-12">
          field3
        </div>
      </div>
    </p-panel>
  </div>
</div>
